    <span class = "title"><%= title %></span>

    <p><span class = "message"><%= message %></span>
    
    <div class = "confirm btn btn-default">Yes</div>
    <div class = "decline btn btn-default">No</div>