<div class="backlog-box product-backlog col-lg-5 col-md-5 col-sm-5 col-xs-10">    
</div>
<div class="backlog-box sprint-backlog col-lg-5 col-md-5 col-sm-5 col-xs-10">
</div>
<% if (role === "techlead") { %>
     <div class="btn btn-info start-sprint" disabled>Start sprint</div>
<% } %>