
	<ul class="list-unstyled">

		<li><b>Current sprint name:</b> <%= sprint_name %></li>
		<li><b>Task title:</b> <%= title %></li>
		<li><b>Task estimation:</b> <%= estimation %></li>
		
		<li><b>Task description:</b> <%= description %></li>

	</ul>


